*.suo
*.docstates
/BitMaker/bin
/BitMaker/obj
/BitMaker.Console/bin
/BitMaker.Console/obj
/BitMaker.Miner/obj
/BitMaker.Miner/bin
/BitMaker.Miner.Gpu/bin
/BitMaker.Miner.Gpu/obj
/BitMaker.Miner.Cpu/bin
/BitMaker.Miner.Cpu/obj
/BitMaker.Utils.Tests/bin
/BitMaker.Utils.Tests/obj
/BitMaker.Utils/bin
/BitMaker.Utils/obj
/BitMaker.Utils.Native/x64
/BitMaker.opensdf
/BitMaker.sdf
/TestResults
/x64
/BitMaker.Miner.Managed/obj
/BitMaker.Miner.Managed/bin
/BitMaker.Miner.Sse/bin
/BitMaker.Miner.Sse/obj
/BitMaker.Miner.Sse/obj
/BitMaker.Miner.Avx/bin
/BitMaker.Miner.Avx/obj
/BitMaker.Utils.Native.Avx/BitMaker.Utils.Native.Avx.vcxproj.user
/BitMaker.Utils.Native.Avx/x64
/BitMaker.Utils.Native.Sse/x64
/BitMaker.Utils.Native.Sse/BitMaker.Utils.Native.Sse.vcxproj.user
/BitMaker.Miner.Avx/bin
/BitMaker.Miner.Avx/obj

/BitMaker.Utils.Native.Avx/x64
/BitMaker.Utils.Native.Sse/x64
