<?xml version="1.0"?>

<configuration>

    <configSections>
        <section
            name="bitmaker"
            type="BitMaker.ConfigurationSection, BitMaker" />
        <section
            name="bitmaker.miner"
            type="BitMaker.Miner.ConfigurationSection, BitMaker.Miner" />
    </configSections>

    <bitmaker
        idleThreshold="00:00:30" />

    <bitmaker.miner
        url="http://<username>:<password>@<host>:8332/" />

</configuration>