<?xml version="1.0"?>

<configuration>

    <configSections>
        <section
            name="bitmaker"
            type="BitMaker.ConfigurationSection, BitMaker" />
        <section
            name="bitmaker.miner"
            type="BitMaker.Miner.ConfigurationSection, BitMaker.Miner" />
    </configSections>

    <bitmaker
        idleThreshold="00:00:30" />

    <bitmaker.miner
        url="http://wasabi.test:1234@:api.bitcoin.cz:8332/" />

</configuration>