<?xml version="1.0"?>

<configuration>
    
    <configSections>
        <section
            name="bitmaker.miner"
            type="BitMaker.Miner.ConfigurationSection, BitMaker.Miner" />
    </configSections>

    <bitmaker.miner
        url="http://wasabi:q5yhpTtgut0VnqUSMIfyeCU32MiBKHtA@tokyo.larvalstage.net:8332" />
    
</configuration>