<?xml version="1.0"?>

<configuration>

    <configSections>
        <section
            name="bitmaker.miner"
            type="BitMaker.Miner.ConfigurationSection, BitMaker.Miner"/>
    </configSections>

    <bitmaker.miner>
        <pools>
            <add url="http://wasabi%40larvalstage.net_test:1234@pit.deepbit.net:8332/"/>
        </pools>
    </bitmaker.miner>

    <startup>
        <supportedRuntime
            version="v4.0"
            sku=".NETFramework,Version=v4.5"/>
    </startup>

</configuration>
